body {
  margin:0px;
  padding:0px;
  height:100%;
  width:100%;
  min-width:300px;
  min-height:100vh;
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  background-image: url('https://media.istockphoto.com/vectors/books-seamless-pattern-vector-id470721440?k=6&m=470721440&s=612x612&w=0&h=OtHvCXQICZ0hXiJJT0tWYrwZznqYw_ncU307tQDrDUA=');
  font-family: 'Roboto', sans-serif;
}
.edit {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  width:inherit;
}
.big-container {
  padding-top:10px;
  width:80%;
  margin-right:auto;
  margin-left:auto;
  margin-bottom:10px;
  background-color: #969BAE;
  border: 5px solid #9EBD6E;
  border-radius: 15px;
  box-shadow:2px 5px #2F3E46;
}

.hidden {
  display:none;
}
h1 {
  font-size:45px;
  text-align:center;
  margin:10px
}
h1, h2 {
  font-family: 'Grandstander', cursive;
}
button,#filter {
  width:auto;
  height:auto;
  padding:3px 18px;
  font-size:16px;
  color: white;
  background-color: #854D27;
  border-radius: 5px;
  border:2px solid #2F3E46;
}
.cancel-form, .submit-form {
  margin-top:10px;
}

.buttons {
  width:100%;
  margin-left:auto;
  margin-right: auto;
  height:auto;
  display:flex;
  justify-content:space-evenly;
  font-size:16px;
  
  
}
.bookmarks-list {
  display:flex;
  flex-direction:column;
  margin-right:auto;
  margin-left:auto;
  padding-left:0px;
  justify-self:start;
  align-content: center;
  
}

.list-item {
  background-color: #fafaee;
  border: 5px solid #9EBD6E;
  border-radius: 15px;
  box-shadow:2px 5px #2F3E46;
  list-style:none;
  margin:15px auto;
  padding:0 0px 0px 5px;
  width:95%;
  align-self:center;
}
.expanded {
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  width:auto;
  height:100%;
  margin-top:10px;

}
form {
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  width:auto;
  margin:auto;
}
.newPage {
  width:75% !important;
}
fieldset {
  width:auto;
}
input[type='text'] {
  width:auto;
}
main {
  margin-left:auto;
  margin-right:auto;
  display:flex;
  flex-direction:column;
  
  width:100%;
}

.expandDown {
  width:auto;
  height:50%;
  
}
.button-wrapper {
  width:100%;
  display:flex;
  justify-content:space-between;
  align-items:flex-end;
}
.rating-wrapper {
  width:auto;
  height:auto;
  display:flex;
  justify-content:center;
}

footer {
  margin-top:5px;
  width:100%;
  height:auto;
  text-align:center;
  padding:10px 0px;
  border-top: 5px solid #9EBD6E;
}
header {
  width:100%;
  height:100%;
  margin-top:0px;
  margin-bottom:10px;
  text-align:center;
  border-bottom: 5px solid #9EBD6E;
}
header, footer {
  background-color: #969BAE;
}
.rating-wrapper:not(:checked) > label:before {
  color:black;
}
fieldset {
  text-align:center;
}
/* Experiment below */
.rating {
    float:left;

}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:.88em;
    
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:black;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
    
}

.rating > input:checked ~ label {
    color: gold;
    text-shadow:1px 1px gold, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:focus,
.rating:not(:checked) > label:hover ~ label,
.rating:not(:checked) > label:focus ~ label {
    color: black;
    text-shadow:1px 1px gold, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked + label:focus,
.rating > input:checked + label:focus ~ label,
.rating > input:checked ~ label:focus,
.rating > input:checked ~ label:focus ~ label,
.rating > label:focus ~ input:checked ~ label {
    color: gold;
    text-shadow:1px 1px gold, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
  
}
@media all and (min-width:550px) {
  .bookmarks-list {
    box-sizing: border-box;
    display:grid;
    grid-gap:10px 20px;
    grid-template-columns: 1fr 1fr;
    width:auto;
    height:100%;
    margin: 10px;
    padding:5px 15px;
    
  }
  .list-item {
    box-sizing: border-box;
    min-width:225px;
    width: 100%;
    height:auto;
    margin:auto;
    padding:auto;
    
  }
  .newPage {
  width:50% !important;
  margin:15px;
}
  .edit-delete {
    width:15%;
  }
  main {
    width:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .big-container {
    width:85%;
    
  }
  form {
    margin:10px 5px;
    padding-bottom:10px
  }
}

@media all and (min-width:910px) {
  .bookmarks-list {
    box-sizing: border-box;
    display:grid;
    grid-gap:10px 20px;
    grid-template-columns: 1fr 1fr 1fr;
    width:auto;
    height:100%;
    margin:10px;
    padding:5px 15px;
    
  }
}